{% extends 'base.html' %}
{% load static %}
{% block page_head %}
    <link href="{% static 'bigday/css/invitation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block page_content %}
    <div class="container" id="invitation-body">
        <section class="col-md-6 text-center">
            <div id="invitation-details">
            <h2>Ślub {{ couple_name_genitive }}</h2>
            <p class="lead">
                {{ wedding_date }}, godz. 15:00<br>
                {{ wedding_location }}
            </p>
            </div>
        </section>
        <section class="col-md-6">
        <form data-toggle="validator" id="invitation-details" class="form-horizontal" method="post">
            <h2 id="rsvp-header" class="text-center">RSVP</h2>
            <div class="clearfix"></div>
            {% csrf_token %}
            {% for guest in party.ordered_guests.all %}
            <div class="form-group attend" data-is-plus-one="{{ guest.is_plus_one }}">
                {% with 'attending-'|add:guest.unique_id as attending_label %}
                <label for="{{ attending_label }}" class="col-sm-3 control-label">{{ guest.name }}</label>
                <label class="radio-inline">
                    <input class="attending-radio" type="radio" name="{{ attending_label }}" value="yes" {% if guest.is_attending %}checked="checked"{% endif %} required> weźmie udział
                </label>
                <label class="radio-inline">
                    <input class="attending-radio" type="radio" name="{{ attending_label }}" value="no" {% if guest.is_attending == False %}checked="checked"{% endif %} required> nie weźmie udziału
                </label>
                {% endwith %}
            </div>
            <div class="form-group meal" data-is-plus-one="{{ guest.is_plus_one }}">
                {% with 'meal-'|add:guest.unique_id as meal_label %}
                <label for="{{ meal_label }}" class="col-sm-3 control-label">... and will eat</label>
                {% for meal_id, meal_name in meals %}
                <label class="radio-inline">
                    <input type="radio" name="{{ meal_label }}" id="{{ meal_label }}-yes" value="{{ meal_id }}" {% if guest.meal == meal_id %}checked="checked"{% endif %} {% if guest.is_attending == False %}disabled{% endif %} required> {{ meal_name }}
                </label>
                {% endfor %}
                {% endwith %}
            </div>
            {% endfor %}
            <div class="form-group col-sm-12">
                <input type="text" name="comments" class="form-control" placeholder="Questions/comments/well wishes" >
            </div>
            <div class="form-group">
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Submit Response" />
                </div>
            </div>
        </form>
        </section>
    </div>
{% endblock %}
{% block page_js %}
    <script src="{% static 'validator.js' %}"></script>
    <script>
    $(function () {
        // enable/disable meal choices based on attendance
        $("input.attending-radio").change(function (e) {
            var target = $(e.target);
            var value = target.attr('value');
            var mealButtonContainer = target.closest('.form-group').next('.meal');
            var is_main_guest = target.closest('.form-group').data('is-plus-one') === 'False';
            var is_plus_one = document.querySelectorAll('[data-is-plus-one="True"]');
            

            if (value === "no") {
                mealButtonContainer[0].style.display = "none";
                if (is_main_guest && is_plus_one) {
                    for (let i = 0; i < is_plus_one.length; i++) {
                        is_plus_one[i].style.display = "none";
                    }
                }
            } else if(value === "yes") {
                mealButtonContainer[0].style.display = "block";
                mealButtons = mealButtonContainer.find('[type=radio]');
                mealButtons.each(function (index, button) {
                    button.disabled = false;
                    button.required = true;
                });
                if (is_main_guest && is_plus_one) {
                    is_plus_one[0].style.display = "block";
                    checked = is_plus_one[0].getElementsByTagName('input')[0].checked;
                    if (checked) {
                        for (let i = 1; i < is_plus_one.length; i++) {
                        is_plus_one[i].style.display = "block";
                    }
                    }
                };
            };
                

            
            // reload validation
            $(document.forms[0]).validator('destroy');
            $(document.forms[0]).validator();
        });
    });
    </script>
{% endblock %}
