{% extends 'base.html' %}
{% load static %}
{% block page_head %}
    <link href="{% static 'bigday/css/creative.css' %}?{% now 'U' %}" rel="stylesheet">
    <link href="{% static 'bigday/css/invitation.css' %}?{% now 'U' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block page_content %}
<div class="container">
  <nav class="navbar-fixed-top" id="header">
    <a class="navbar-brand" href="/">Wstecz</a>
  </nav>
</div>
    <div class="container" id="invitation-body">
        <section class="col-md-4 text-center">
            <div id="invitation-details">
            <h2>Ślub {{ couple_name_genitive }}</h2>
            <p class="lead">
                {{ wedding_date }}, godz. 15:00<br>
                {{ wedding_location }}
            </p>
            </div>
        </section>
        <section class="col-md-8">
            <form data-toggle="validator" id="invitation-details" class="form-horizontal" method="post">
                <h2 id="rsvp-header" class="text-center">RSVP</h2>
                <div class="clearfix"></div>
                {% csrf_token %}
                {% for guest in party.ordered_guests.all %}
                <div class="guest-{{ guest.unique_id }}" data-is-plus-one="{{ guest.is_plus_one }}">
                    <div class="form-group guest">
                        {% with 'attending-'|add:guest.unique_id as attending_label %}
                        <div class="form-group {{ attending_label }}">
                            <label for="{{ attending_label }}" class="col-sm-3 control-label">{{ guest.name }}</label>
                            <label class="radio-inline">
                                <input class="attending-radio" type="radio" name="{{ attending_label }}" value="yes" {% if guest.is_attending %}checked="checked"{% endif %} required> weźmie udział
                            </label>
                            <label class="radio-inline">
                                <input class="attending-radio" type="radio" name="{{ attending_label }}" value="no" {% if guest.is_attending == False %}checked="checked"{% endif %} required> nie weźmie udziału
                            </label>
                        </div>
                        {% endwith %}
                        {% with 'plus_one-'|add:guest.unique_id as plus_one_label %}
                        <div class="form-group col-sm-12 {{ plus_one_label }}" {% if not guest.is_plus_one %}style="display:none"{% endif %}>
                            <label for="{{ plus_one_label }}" class="col-sm-3 control-label"></label>
                            <input type="text" name="{{ plus_one_label }}" class="plus_one col-sm-8" placeholder="Imię i nazwisko Osoby Towarzyszącej" required>
                        </div>
                        {% endwith %}
                    </div>
                    {% with 'meal-'|add:guest.unique_id as meal_label and 'is_allergic-'|add:guest.unique_id as is_allergic_label and guest.meal|default_if_none:'all' as defaultMeal %}
                    <div class="form-group meal">
                        <div class="form-group {{ meal_label }}">
                            <label for="{{ meal_label }}" class="col-sm-3 control-label">Dieta</label>
                            {% for meal_id, meal_name in meals %}
                            <label class="radio-inline">
                                {% if meal_id != 'is_allergic' %}
                                <input class="meal" type="radio" name="{{ meal_label }}" value="{{ meal_id }}" id="{{ meal_id }}" {% if defaultMeal == meal_id %}checked="checked"{% endif %} required> {{ meal_name }}
                                {% else %}
                                <input class="is_allergic" type="checkbox" name="{{ is_allergic_label }}" {% if guest.is_allergic %}checked="checked"{% endif %}> {{ meal_name }}
                                {% endif %}
                            </label>
                            {% endfor %}
                        </div>
                        {% with 'allergic-'|add:guest.unique_id as allergic_label %}
                        <div class="form-group col-sm-12 {{ allergic_label }}" {% if not guest.is_allergic %}style="display:none"{% endif %}>
                            <label for="{{ allergic_label }}" class="col-sm-3 control-label"></label>
                            <input type="text" name="{{ allergic_label }}" class="allergic col-sm-8" placeholder="Na jakie pokarmy masz uczulenie?" required>
                        </div>
                        {% endwith %}
                    </div>
                    {% endwith %}
                </div>
                {% endfor %}
                <div class="form-group col-sm-12">
                    <input type="text" name="comments" class="form-control" placeholder="Masz jakieś uwagi lub życzenia muzyczne?" >
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary" value="Wyślij" />
                    </div>
                </div>
            </form>
        </section>
    </div>
{% endblock %}
{% block page_js %}
    <script src="{% static 'validator.js' %}"></script>
    <script>
    $(function () {
        // enable/disable meal choices based on attendance
        $("input.attending-radio").change(function (e) {
            var target = $(e.target);
            var value = target.attr('value');
            var name = target.attr('name');
            var guestLabel = 'guest-' + name.split('-').slice(-1);
            var attendingLabel = 'attending-' + name.split('-').slice(-1);
            var plusOneLabel = 'plus_one-' + name.split('-').slice(-1);
            var mealLabel = 'meal-' + name.split('-').slice(-1);
            var allergicLabel = 'allergic-' + name.split('-').slice(-1);

            var guestContainer = document.getElementsByClassName(guestLabel)[0];
            var attendanceContainer = document.getElementsByClassName(attendingLabel)[0];
            var plusOneContainer = document.getElementsByClassName(plusOneLabel)[0];
            var mealButtonContainer = document.getElementsByClassName(mealLabel)[0];
            var allergicContainer = document.getElementsByClassName(allergicLabel)[0];

            var is_main_guest = guestContainer.getAttribute('data-is-plus-one') === 'False';
            var is_plus_one = guestContainer.getAttribute('data-is-plus-one') === 'True';
            var plus_one_occurs = document.querySelectorAll('[data-is-plus-one="True"]');

            if (value === "no") {
                plusOneContainer.style.display = "none";
                mealButtonContainer.style.display = "none";
                allergicContainer.style.display = "none";
                if (is_main_guest && plus_one_occurs) {
                    for (let i = 0; i < plus_one_occurs.length; i++) {
                        plus_one_occurs[i].style.display = "none";
                    }
                }
            } else if(value === "yes") {
                mealButtonContainer.style.display = "block";
                mealButtons = mealButtonContainer.children;
                for (let i = 1; i < mealButtons.length; i++) {
                    button = mealButtons[i].children[0]
                    button.disabled = false
                    if (button.className === 'is_allergic' && button.checked){
                        allergicContainer.style.display = "block";
                    }
                };   
                if (is_main_guest && plus_one_occurs) {
                    plus_one_occurs[0].style.display = "block";
                    plus_one_attends = plus_one_occurs[0].getElementsByTagName('input')[0].checked;
                    if (plus_one_attends) {
                        for (let i = 1; i < plus_one_occurs.length; i++) {
                        plus_one_occurs[i].style.display = "block";
                        }
                    }
                } else if (is_plus_one) {
                    plusOneContainer.style.display = "block";
                }
            };
            // reload validation
            $(document.forms[0]).validator('destroy');
            $(document.forms[0]).validator();
        });
    });
    $(function () {
        // enable/disable allergic input based on diet choice
        $("input.is_allergic").change(function (e) {
            var target = $(e.target);
            var is_allergic = target[0].checked;
            var name = target[0].name;
            var allergicLabel = 'allergic-' + name.split('-').slice(-1);
            var allergicContainer = document.getElementsByClassName(allergicLabel)[0];

            if (is_allergic) {
                allergicContainer.style.display = "block";
                document.getElementsByName(allergicLabel)[0].required; 
            } else {
                allergicContainer.style.display = "none";
            };
            // reload validation
            $(document.forms[0]).validator('destroy');
            $(document.forms[0]).validator();
        });
    });
    </script>
{% endblock %}
