{% extends 'base.html' %}
{% load static %}
{% block page_head %}
    <link href="{% static 'bigday/css/creative.css' %}?{% now 'U' %}" rel="stylesheet">
    <link href="{% static 'bigday/css/rsvp.css' %}?{% now 'U' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block page_content %}
<div class="container">
  <nav class="navbar-fixed-top" id="header">
    <a class="navbar-brand" href="/rsvp">Wstecz</a>
  </nav>
</div>
    <br>
    <br>
    <br>
    <br>
    <div class="container" id="main">
        <section class="col-md-5k" id="rsvp-form">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Och, nie!</h4>
            <p>
                Nie możemy znaleźć Twojego RSVP. Sprawdź kod podany na zaproszeniu i spróbuj jeszcze raz.
            </p>
            <hr>
            <p class="mb-0">
                W razie dalszych problemów skontaktuj się z nami mailowo (<a href="mailto:{{ support_email }}">{{ support_email }}</a>) lub telefonicznie (numery podane są w zaproszeniach).
            </p>  
        </div>
        </section>
    </div>
{% endblock %}