<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Piątkowe przyjęcie powitalne</h2>
                <hr>
                <h3 class="section-heading text-center">4 sierpnia 2023 r.</h3><h3 class="section-heading text-center">godz. 18:00</h3>
                <hr class="primary">
                <div class="text-center">
                    <p>
                        Jeśli tylko macie możliwość przyjechać w piątek, zapraszamy Was na powitalnego grilla!
                    </p>
                    <p>
                        Startujemy o godzinie 18:00, ale spóźnienia są całkowicie dopuszczalne &#128521;
                    </p>
                    <p>
                        Pamiętajcie o wygodnym stroju (w końcu to grill, a nie żaden bankiet &#128521;), a wszelkie troski i zmartwienia zostawcie w domu!
                    </p>
                    <p>
                        Jak wszystkie wydarzenia tego weekendu, tak również i to, odbywa się w <a href="https://goo.gl/maps/ZMykdPfjeuuZ3Jp3A" target=”_blank”>Polnej</a>, zatem będziecie mieć okazję wybadać teren przed sobotą &#128521;
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="saturday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Ceremonia ślubna i wesele</h2>
                <hr>
                <h3 class="section-heading text-center">5 sierpnia 2023 r.</h3><h3 class="section-heading text-center">godz. 15:00</h3>
                <hr class="primary">
                <div class="text-center">
                    <p>
                        Ceremonia ślubna rozpocznie się o godzinie 15:00 w ogrodzie.
                    </p>
                    <p>
                        Po godzinie 16:00 zapraszamy na obiad, który pomoże nabrać sił na wszystkie tańce, hulańce i swawole!
                    </p>
                    <p>
                        Bawimy się do białego rana albo i dłużej! Podobno rekordziści byli na nogach do 11-tej. Pomożesz nam ich przebić? &#128512;
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sunday-breakfast" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Niedzielne śniadanie poprawinowe</h2>
                <hr>
                <h3 class="section-heading text-center">6 sierpnia 2023 r.</h3><h3 class="section-heading text-center">godz. 11:00</h3>
                <hr class="primary">
                <div class="text-center">
                    <p>
                        Niezależnie czy po szaleństwach sobotniej nocy nie zmrużycie oka, czy też wstaniecie w pełni wyspani, w niedzielny poranek zapraszamy na śniadanie!
                    </p>
                    <p>
                        Będzie ono serwowane w formie szwedzkiego stołu od godziny 11.
                    </p>
                    <p>
                        Wprawdzie nie planujemy typowych poprawin, ale po posiłku będziecie mieć jeszcze chwilę wytchnienia przed podróżą, do czego gorąco zachęcamy!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
