
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Polna Zdrój</h2>
            <hr class="primary">
            <p><a href="https://www.polnazdroj.com" target=”_blank”>Polna Zdrój</a> to ponad 200-letnie, odrestaurowane przez znanego polskiego architekta, siedlisko w urokliwym miasteczku <a href="https://goo.gl/maps/ZMykdPfjeuuZ3Jp3A" target=”_blank”>Wleń</a> na Dolnym Śląsku, które znajduje się 20 km od Jeleniej Góry. Zabudowania mają wyjątkowo malownicze usytuowanie - na rozległej skarpie z widokiem na pasmo Karkonoszy.</p>		
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                            <img src="{% static 'bigday/images/polna/ogrod4.jpg' %}" class="img-responsive" alt="">
                    </div>
                    <div class="col-lg-4 col-sm-6">
                            <img src="{% static 'bigday/images/polna/stol.jpg' %}" class="img-responsive" alt="">
                    </div>
                    <div class="col-lg-4 col-sm-6">
                            <img src="{% static 'bigday/images/polna/kominkowy.jpg' %}" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
            <h3>Jak dotrzeć?</h3>
            <p>
                Oczywiście, najwygodniej i najszybciej jest dojechać własnym samochodem. Trasa z Wrocławia liczy 120 km i trwa około 1,5h. Na miejscu znajduje się bezpłatny parking dla Gości.
            </p>
            <p>
                Istnieje także opcja dojazdu komunikacją publiczną. Najprostszym sposobem jest przejazd PKS-em z przesiadką w Jeleniej Górze lub Lwówku Śląskim. Podróż trwa około 3h.
            </p>
            <p>
                Dla tych, którzy nie mają możliwości dotarcia na własną rękę, postaramy się zapewnić inną formę transportu. Prosimy o zaznaczenie tej informacji w formularzu.
            </p>
            <hr class="primary">
            <h3>Noclegi</h3>
            <p>
                Dla wszystkich Gości przewidziane są noclegi, zarówno z piątku na sobotę, jak i po weselu, z soboty na niedzielę.
                Po potwierdzeniu obecności, każdy otrzyma wiadomość ze szczegółami dotyczącymi zakwaterowania.
            </p>
            <p>
                Część noclegów może być nieznacznie oddalona od sali - w razie potrzeby zapewnimy transport w obie strony.
			</p>
        </div>
    </div>
</div>
